body{
  margin: 0; 
  padding: 0;
  overflow: hidden;
}


.canva {
  margin: auto;
  display: block;
  background: rgb(21, 21, 138);
}

.title{
  font-size: 72pt;
}

.mytext{
  font-size: 32pt;
  fill:aliceblue;
}

.tooltip{
  padding: 20px;
  color: aqua;
  border-radius: 150px;
}